---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-brand-black">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ced's AI Sandbox - Exploring Artificial Intelligence" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  body {
    font-family: 'Inter', sans-serif;
  }
</style>
